test_data/pipeline_test/
test_data/test_experimental_design.txt
sftp-config.json
PiReT.sublime-project
PiReT.sublime-workspace
miniconda.sh
.DS_Store
install.log
README.html
test_data/*.ht2l
thirdParty/miniconda/*
thirdParty/miniconda/*.*