test_data/pipeline_test_both/*
test_data/test_experimental_design.txt
sftp-config.json
PiReT.sublime-project
PiReT.sublime-workspace
miniconda.sh
.DS_Store
install.log
README.html
test_data/*.ht2l
thirdParty/miniconda/*
thirdParty/miniconda/*.*
thirdParty/String-Approx-3.27/
test_data/processsed_data/
test_data/pipeline_test_both_011617/
test_data/pipeline_test_both0123/
test_data/pipeline_test_both012217/
test_data/pipeline_test_both6/
t/results/stats_table.tab
t/results/samp1/
t/results/reverse.unmapped.fastq
MYMETA.json
MYMETA.yml
Makefile
blib/
ext/
t/results/euk_prok_index.1.ht2l
t/results/euk_prok_index.2.ht2l
t/results/euk_prok_index.3.ht2l
t/results/euk_prok_index.4.ht2l
t/results/euk_prok_index.5.ht2l
t/results/euk_prok_index.6.ht2l
t/results/euk_prok_index.7.ht2l
t/results/euk_prok_index.8.ht2l
t/results/Nonproper.mapped.sam
t/results/forward.mapped.sam
t/results/forward.unmapped.fastq
t/results/paired.mapped.sam
t/results/reverse.mapped.sam
pm_to_blib
t/results/unmap_1.fastq
t/data/euk_prok_index.1.ht2l
t/data/euk_prok_index.2.ht2l
t/data/euk_prok_index.3.ht2l
t/data/euk_prok_index.4.ht2l
t/data/euk_prok_index.5.ht2l
t/data/euk_prok_index.6.ht2l
t/data/euk_prok_index.7.ht2l
t/data/euk_prok_index.8.ht2l
t/data/prokaryote.fa.fai
bin/bedtools
bin/bowtie2
bin/bwa
bin/conda
bin/cpanm
bin/genomeCoverageBed
bin/gffread
bin/hisat2
bin/hisat2-build
bin/htseq-count
bin/jellyfish
bin/pip
bin/samtools
t/data/euk_test.fna.fai
t/data/prok_test.fna.fai
t/results/ordered_mapped.bam
t/results/*
t/results/euk_index.1.ht2l
t/results/euk_index.2.ht2l
t/results/euk_index.3.ht2l
t/results/euk_index.4.ht2l
t/results/euk_index.5.ht2l
t/results/euk_index.6.ht2l
t/results/euk_index.7.ht2l
